.connect-wallet-main{
    min-height: 100vh;
    width: 100vw;
    background: url('../images/bg.png') no-repeat center;
    background-size: 100vw;
}
.grupm{
    height: 90px;
}
.wallet-connect-btn{
    background-color: #F5F9FF;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 36px;
}
.css-9fgtzh{
    text-align: center !important;
}
.brew-heading{
    background: linear-gradient(180deg, #4AABE9 0%, rgba(255, 255, 255, 0.58) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

}
.brew-p{
    font-style: italic;
    font-size:28px;
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    .connect-wallet-main{
        background-size: auto;
    }
    .connect-with-metamask-img{
        display: none;
    }
    .grupm{
        height: 80px;
    }
    .brew-p{
        text-align: center;
        font-size: 24px;
    }
  }